extends ../layout

block content
    .page-header
        h3 Create Sport


        each val in values.length ? values : []
                li(class=val.id)= val.name
                form.form-horizontal(id='signup-form', method='POST' action='/deleteSport')
                    input(type='hidden', name='id', value=val.id class="id")
                    input(type='hidden', name='_csrf', value=_csrf class="csrf")
                    .form-group
                        .col-sm-offset-3.col-sm-7
                            button.deletebutton.btn.btn-danger(type='submit')
                                i.fa.fa-user-plus
                                | Delete Sport
